*sungminlee_IBM/bin/
*sungminlee_IBM/
*tools/speech-to-spikes/dataset/
*tools/speech-to-spikes/
run/test_bin/*
run/train_bin/*
run/ssc_train/*
run/ssc_test/*
run/SSC/*
run/SSC_700/*
run/SSC_350/*
run/SHD/*
run/SHD_700/*
run/SHD_350/*
run/train/*
run/test/*
run/accuracy_log.csv
run/init_parameters.json
run/init_taus.json
run/init_weights.json
run/training_weights.json
*run/train_bin_grouped/
*run/test_bin_grouped/